<ion-header>
  <ion-navbar>
    <ion-title>
      Geocoder
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let estado of estados" (click)="start(estado)">
      {{ estado.sigla }} - {{ estado.nome }} {{ estado.status }}
    </ion-item>
  </ion-list>
</ion-content>
